<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!-- 报表统计配置开始-->
    <add key="RejectType" value="1:超时未接诊|2:医生主动拒诊|"/>
    <!-- 报表统计配置结束-->
  </appSettings>
</configuration>